<!--<p id="notice"><%= notice %></p>-->

<p>
  <strong>Work position:</strong>
  <%= @job_advertisement.work_position %>
</p>

<%= link_to 'Edit', editjobadvertisement_path(@job_advertisement) %> |
<%= link_to 'Back', job_advertisements_path %>
