

<div class="col-md-8 card-deck">

<% @professors.each do |professor| %>
<% if professor.department== @pom %>
<div class="col-md-4 p-2">
<div class="card p-2 bg-light" >

<%= image_tag(professor.image, :class=>'card-img-top ')  %>

<div class="card-body">

<a style="color: black" class="card-text text-center text-lg"<%= link_to "#{professor.name} #{professor.surname}", professor%></a><br>
<% if current_user.present? && current_user.category ==  'admin' %>
<div class="btn-toolbar">
<%= button_to "Edit",  editprofessor_path(professor.id), :method => :get , :class=>'btn btn-success mr-1' %>
<%= button_to "Delete", professor, method: :delete, :class=>'btn btn-danger' %>
</div>
<%end%>
<%end%>
</div>
</div>
</div>
<% end %>
</div>


</div>
