<div class="row">

<div class="col-md-3">

 <div class="row"> <%= image_tag(@professor.image, :class=>'card-img-top ')  %></div>
 
</div>
<div class="col-md-9">
  <%= render 'form', professor: @professor %></div>
</div>
