<div class="row">

<div class="col-md-3">

 <div class="row"><img class="d-block img-fluid w-100" src="assets/slide-1.jpg" alt=""></div>
</div>
<div class="col-md-9">
  <%= render 'form', professor: @professor %></div>
</div>
