

  <div class="row">
    <div class="col-md-4">
       <div class="bg-faded p-4 my-4">
        <hr class="divider">
        <h2 class="text-center text-lg text-uppercase my-0">
          <strong>Automatic Control and Electronics</strong>
        </h2>
        <hr class="divider">
         <h2 class="text-center text-lg text-uppercase my-0">
          <strong>Telecommunication</strong>
        </h2>
           <hr class="divider">
             <h2 class="text-center text-lg text-uppercase my-0">
          <strong>Electronic Powe Engineering</strong>
        </h2>
        <hr class="divider">
        <h2 class="text-center text-lg text-uppercase my-0">
          <strong>Computer Science and Informatics</strong>
        </h2>
        <hr class="divider">
       
      
      </div>
    </div>
    
       <div class="col-md-8">
       	<h1> <%= @professor.name %></h1>
<h1> <%= @professor.surname %></h1>
    </div>
    
   
  </div>
