<p id="notice"><%= notice %></p>

<p> <br></br>Na osnovu clana 169. Zakona o upravnom postupku FBiH (Sluzbene novine FBiH, broj 2/98, 48/99) izdaje se: </p>
<h1><br></br><br></br><center>P O T V R D A</center></h1>



      <h3><br></br><br></br>Ime i prezime : <%= @professor.cv %> </h3>
